In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import numpy as np
%matplotlib inline

In [2]:
orphan_causes_csv = pd.read_csv('../data/Using/HIV_Orphans_2020.csv')

In [3]:
orphan_causes_csv.head()

,"Number of children aged 0-17 who have lost one or both parents, by cause, 1990-2019",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,ISO3,Type,Country/Region,UNICEF Region,Indicator,Data source,Year,Value,Lower,Upper
1,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1990,"147,800,000","143,500,000","152,900,000"
2,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1991,"147,900,000","143,600,000","153,000,000"
3,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1992,"148,300,000","144,000,000","153,400,000"
4,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1993,"148,900,000","144,600,000","154,100,000"

In [4]:
orphan_causes_subset = orphan_causes_csv.rename(columns = {'Number of children aged 0-17 who have lost one or both parents, by cause, 1990-2019': 'ISO3',\
                                                              'Unnamed: 1': 'Type', 'Unnamed: 2': 'Country_Region', 'Unnamed: 3': 'UNICEF_Region', 'Unnamed: 4': 'Indicator',\
                                                              'Unnamed: 5': 'Data_Source', 'Unnamed: 6': 'Year', 'Unnamed: 7': 'Value', 'Unnamed: 8': 'Lower', 'Unnamed: 9': 'Upper'})
orphan_causes_subset.head()

,ISO3,Type,Country_Region,UNICEF_Region,Indicator,Data_Source,Year,Value,Lower,Upper
0,ISO3,Type,Country/Region,UNICEF Region,Indicator,Data source,Year,Value,Lower,Upper
1,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1990,"147,800,000","143,500,000","152,900,000"
2,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1991,"147,900,000","143,600,000","153,000,000"
3,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1992,"148,300,000","144,000,000","153,400,000"
4,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1993,"148,900,000","144,600,000","154,100,000"

In [5]:
orphan_causes_subset.drop(labels=0, axis=0, inplace=True)
orphan_causes_subset.head()

,ISO3,Type,Country_Region,UNICEF_Region,Indicator,Data_Source,Year,Value,Lower,Upper
1,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1990,"147,800,000","143,500,000","152,900,000"
2,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1991,"147,900,000","143,600,000","153,000,000"
3,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1992,"148,300,000","144,000,000","153,400,000"
4,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1993,"148,900,000","144,600,000","154,100,000"
5,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1994,"149,900,000","145,600,000","155,100,000"

In [6]:
orphan_causes_subset.reset_index(drop=True, inplace=True)
orphan_causes_subset.head()

,ISO3,Type,Country_Region,UNICEF_Region,Indicator,Data_Source,Year,Value,Lower,Upper
0,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1990,"147,800,000","143,500,000","152,900,000"
1,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1991,"147,900,000","143,600,000","153,000,000"
2,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1992,"148,300,000","144,000,000","153,400,000"
3,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1993,"148,900,000","144,600,000","154,100,000"
4,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1994,"149,900,000","145,600,000","155,100,000"

In [7]:
orphan_causes_subset.drop(columns = 'Data_Source')

,ISO3,Type,Country_Region,UNICEF_Region,Indicator,Year,Value,Lower,Upper
0,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,1990,"147,800,000","143,500,000","152,900,000"
1,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,1991,"147,900,000","143,600,000","153,000,000"
2,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,1992,"148,300,000","144,000,000","153,400,000"
3,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,1993,"148,900,000","144,600,000","154,100,000"
4,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,1994,"149,900,000","145,600,000","155,100,000"
...,...,...,...,...,...,...,...,...,...
7613,regionWCA,Region,West and Central Africa,NaN,Estimated number of children (aged 0-17) who h...,2015,"3,150,000","2,320,000","4,210,000"
7614,regionWCA,Region,West and Central Africa,NaN,Estimated number of children (aged 0-17) who h...,2016,"3,160,000","2,330,000","4,220,000"
7615,regionWCA,Region,West and Central Africa,NaN,Estimated number of children (aged 0-17) who h...,2017,"3,150,000","2,320,000","4,210,000"
7616,regionWCA,Region,West and Central Africa,NaN,Estimated number of children (aged 0-17) who h...,2018,"3,110,000","2,290,000","4,160,000"
7617,regionWCA,Region,West and Central Africa,NaN,Estimated number of children (aged 0-17) who h...,2019,"3,050,000","2,250,000","4,080,000"

In [8]:
orphan_causes_subset.isna().sum()

ISO3                0
Type                0
Country_Region      0
UNICEF_Region     538
Indicator           0
Data_Source         0
Year                0
Value               0
Lower             241
Upper             240
dtype: int64

In [9]:
orphan_causes_subset.dtypes

ISO3              object
Type              object
Country_Region    object
UNICEF_Region     object
Indicator         object
Data_Source       object
Year              object
Value             object
Lower             object
Upper             object
dtype: object

In [10]:
year_numeric = orphan_causes_subset['Year'].astype(int)

In [11]:
value_numeric = pd.to_numeric(orphan_causes_subset['Value'].str.replace(',', '').str.replace('<500', '250').str.replace('<100', '50').str.replace('<300', '150').str.replace('<200', '100'))
lower_numeric = pd.to_numeric(orphan_causes_subset['Lower'].str.replace(',', '').str.replace('<500', '250').str.replace('<100', '50').str.replace('<300', '150').str.replace('<200', '100'))
upper_numeric = pd.to_numeric(orphan_causes_subset['Upper'].str.replace(',', '').str.replace('<500', '250').str.replace('<100', '50').str.replace('<300', '150').str.replace('<200', '100'))

In [12]:
orphan_causes_subset['Value'] = value_numeric
orphan_causes_subset['Lower'] = lower_numeric
orphan_causes_subset['Upper'] = upper_numeric
orphan_causes_subset['Year'] = year_numeric
orphan_causes_subset.head()

,ISO3,Type,Country_Region,UNICEF_Region,Indicator,Data_Source,Year,Value,Lower,Upper
0,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1990,147800000,143500000.0,152900000.0
1,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1991,147900000,143600000.0,153000000.0
2,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1992,148300000,144000000.0,153400000.0
3,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1993,148900000,144600000.0,154100000.0
4,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1994,149900000,145600000.0,155100000.0

In [13]:
# value_clean = orphan_causes_subset['Value'].replace('<100', '50').replace('<200', '100').replace('<300', '150').replace('<500', '250')
# lower_clean = orphan_causes_subset['Lower'].replace('<100', '50').replace('<200', '100').replace('<300', '150').replace('<500', '250')
# upper_clean = orphan_causes_subset['Upper'].replace('<100', '50').replace('<200', '100').replace('<300', '150').replace('<500', '250')

In [14]:
# orphan_causes_subset['Value'] = value_numeric
# orphan_causes_subset['Lower'] = lower_numeric
# orphan_causes_subset['Upper'] = upper_numeric
# orphan_causes_subset['Year'] = year_numeric
# orphan_causes_subset.head()

In [15]:
orphan_causes_subset['Value'].value_counts()

50          471
250         273
100         165
120000      109
140000       91
           ...
3100000       1
9320000       1
51900000      1
11200000      1
14600000      1
Name: Value, Length: 847, dtype: int64

In [16]:
orphan_causes_subset.dtypes

ISO3               object
Type               object
Country_Region     object
UNICEF_Region      object
Indicator          object
Data_Source        object
Year                int32
Value               int64
Lower             float64
Upper             float64
dtype: object

In [17]:
orphan_causes_subset['Indicator'].unique()

array(['Estimated number of children (aged 0-17) who have lost one or both parents due all causes',
       'Estimated number of children (aged 0-17) who have lost one or both parents due to AIDS'],
      dtype=object)

In [18]:
orphan_causes_subset['Value'].value_counts()

50          471
250         273
100         165
120000      109
140000       91
           ...
3100000       1
9320000       1
51900000      1
11200000      1
14600000      1
Name: Value, Length: 847, dtype: int64

In [19]:
orphan_causes_subset['Country_Region'].value_counts()

Pakistan         60
Gambia           60
Serbia           60
Congo            60
Latvia           60
                 ..
Botswana         60
Peru             60
South Sudan      60
Djibouti         60
United States    58
Name: Country_Region, Length: 127, dtype: int64

In [20]:
orphan_causes_subset.dtypes

ISO3               object
Type               object
Country_Region     object
UNICEF_Region      object
Indicator          object
Data_Source        object
Year                int32
Value               int64
Lower             float64
Upper             float64
dtype: object

In [21]:
# convert_dict = {'ISO3': object,
#               'Type': object,
#               'Country/Region': object,
#               'UNICEF Region': object,
#               'Indicator': object,
#                 'Data Source': object,
#                 'Year': int,
#                 'Value': int,
#                 'Lower': int,
#                 'Upper': int}

In [22]:
# orphan_causes_clean = orphan_causes_subset.astype(convert_dict)
# print(orphan_causes_clean.dtypes)

In [23]:
orphan_causes_subset['Indicator'].value_counts()

Estimated number of children (aged 0-17) who have lost one or both parents due to AIDS       3809
Estimated number of children (aged 0-17) who have lost one or both parents due all causes    3809
Name: Indicator, dtype: int64

In [24]:
global_orphans_hiv = orphan_causes_subset.loc[orphan_causes_subset['Indicator'].isin(['Estimated number of children (aged 0-17) who have lost one or both parents due to AIDS'])]
global_orphans_hiv.head(25)

,ISO3,Type,Country_Region,UNICEF_Region,Indicator,Data_Source,Year,Value,Lower,Upper
30,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1990,870000,650000.0,1140000.0
31,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1991,1200000,890000.0,1570000.0
32,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1992,1620000,1200000.0,2100000.0
33,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1993,2120000,1580000.0,2760000.0
34,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1994,2740000,2030000.0,3560000.0
35,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1995,3460000,2570000.0,4490000.0
36,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1996,4280000,3180000.0,5560000.0
37,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1997,5180000,3850000.0,6740000.0
38,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1998,6150000,4570000.0,7990000.0
39,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1999,7170000,5330000.0,9320000.0
40,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,2000,8230000,6120000.0,10700000.0
41,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,2001,9320000,6930000.0,12100000.0
42,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,2002,10400000,7720000.0,13500000.0
43,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,2003,11400000,8480000.0,14800000.0
44,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,2004,12400000,9190000.0,16100000.0
45,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,2005,13200000,9840000.0,17200000.0
46,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,2006,14000000,10400000.0,18200000.0
47,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,2007,14600000,10800000.0,19000000.0
48,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,2008,15000000,11100000.0,19500000.0
49,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,2009,15300000,11300000.0,19800000.0
50,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,2010,15400000,11400000.0,20000000.0
51,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,2011,15400000,11500000.0,20100000.0
52,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,2012,15400000,11400000.0,20000000.0
53,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,2013,15300000,11400000.0,19900000.0
54,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,2014,15100000,11200000.0,19700000.0

In [25]:
orphan_global_causes = orphan_causes_subset
orphan_global_causes.head()

,ISO3,Type,Country_Region,UNICEF_Region,Indicator,Data_Source,Year,Value,Lower,Upper
0,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1990,147800000,143500000.0,152900000.0
1,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1991,147900000,143600000.0,153000000.0
2,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1992,148300000,144000000.0,153400000.0
3,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1993,148900000,144600000.0,154100000.0
4,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1994,149900000,145600000.0,155100000.0

In [26]:
orphan_global_causes['Year'] = pd.to_datetime(orphan_global_causes['Year'], format = '%Y')
orphan_global_causes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7618 entries, 0 to 7617
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ISO3            7618 non-null   object
 1   Type            7618 non-null   object
 2   Country_Region  7618 non-null   object
 3   UNICEF_Region   7080 non-null   object
 4   Indicator       7618 non-null   object
 5   Data_Source     7618 non-null   object
 6   Year            7618 non-null   datetime64[ns]
 7   Value           7618 non-null   int64
 8   Lower           7377 non-null   float64
 9   Upper           7378 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(6)
memory usage: 595.3+ KB

In [27]:
orphan_global_causes.dtypes

ISO3                      object
Type                      object
Country_Region            object
UNICEF_Region             object
Indicator                 object
Data_Source               object
Year              datetime64[ns]
Value                      int64
Lower                    float64
Upper                    float64
dtype: object

In [28]:
orphan_global_causes.to_csv('../data/cleaned_data/orphan_global_causes.csv')