In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import numpy as np
%matplotlib inline

In [3]:
orphan_hiv_csv = pd.read_csv('../data/Using/number-of-children-orphaned-from-aids.csv')

In [4]:
orphan_hiv_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2943 entries, 0 to 2942
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Entity                        2943 non-null   object
 1   Code                          2781 non-null   object
 2   Year                          2943 non-null   int64
 3   AIDS Orphans - 0-17 estimate  2943 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 92.1+ KB

In [6]:
orphan_hiv_csv.isna().sum()

Entity                            0
Code                            162
Year                              0
AIDS Orphans - 0-17 estimate      0
dtype: int64

In [7]:
orphan_hiv_csv.dtypes

Entity                           object
Code                             object
Year                              int64
AIDS Orphans - 0-17 estimate    float64
dtype: object

In [9]:
orphan_hiv_csv['Code'].value_counts()

JAM         27
GNB         27
GEO         27
SUR         27
TCD         27
            ..
AUS         27
BWA         27
OWID_WRL    27
AFG         27
GAB         27
Name: Code, Length: 103, dtype: int64

In [13]:
orphan_hiv_rename = orphan_hiv_csv.rename(columns = {'Entity': 'Country', 'AIDS Orphans - 0-17 estimate': 'Number Orphans (0-17 years old)'})
orphan_hiv_rename.head()

       Country Code  Year  Number Orphans (0-17 years old)
0  Afghanistan  AFG  1990                          44.8754
1  Afghanistan  AFG  1991                          68.1093
2  Afghanistan  AFG  1992                          99.9277
3  Afghanistan  AFG  1993                         142.0280
4  Afghanistan  AFG  1994                         195.8530

In [14]:
global_hiv_orphans = orphan_hiv_rename

In [15]:
global_hiv_orphans.to_csv('../data/cleaned_data/global_hiv_orphans.csv')