In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import numpy as np
%matplotlib inline

In [2]:
global_orphan_hiv_csv = pd.read_csv('../data/cleaned_data/orphan_global_causes.csv')
hiv_exp_csv = pd.read_csv('../data/cleaned_data/hiv_expenditure.csv')
hiv_funding_csv = pd.read_csv('../data/cleaned_data/hiv_funding.csv')
pov_pop_csv = pd.read_csv('../data/cleaned_data/pov_pop_stats.csv')

In [23]:
global_orphan_hiv = global_orphan_hiv_csv.drop(columns = ['Unnamed: 0', 'Lower', 'Upper'])
global_orphan_hiv = global_orphan_hiv.rename(columns = {'Value': 'Number_Orphans'})
global_orphan_hiv.head()

,ISO3,Type,Country_Region,UNICEF_Region,Indicator,Data_Source,Year,Number_Orphans
0,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1990-01-01,147800000
1,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1991-01-01,147900000
2,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1992-01-01,148300000
3,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1993-01-01,148900000
4,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1994-01-01,149900000

In [5]:
hiv_exp = hiv_exp_csv.drop(columns = 'Unnamed: 0')
hiv_exp.head()

       Country Code        Year  Total_Expenditure
0  Afghanistan  AFG  2008-01-01         3241418.00
1  Afghanistan  AFG  2009-01-01         5158552.00
2  Afghanistan  AFG  2010-01-01         4437825.00
3  Afghanistan  AFG  2011-01-01         8002073.55
4  Afghanistan  AFG  2012-01-01         9052547.00

In [6]:
hiv_funding = hiv_funding_csv.drop(columns = 'Unnamed: 0')
hiv_funding.head()

,Country,Code,Year,Global_Fund,Domestic_Public,Domestic_Private,International,Other_Bilaterals,Development_Banks,Other_multilaterals,PEPFAR
0,Afghanistan,AFG,2008-01-01,0.000,129260.0,0.0,3112158.00,254053.0,2669283.0,0.0,NaN
1,Afghanistan,AFG,2009-01-01,1087983.000,132200.0,0.0,5026352.00,282525.0,3220281.0,0.0,NaN
2,Afghanistan,AFG,2010-01-01,1774255.000,200000.0,0.0,4237825.00,90499.0,1523129.0,0.0,NaN
3,Afghanistan,AFG,2011-01-01,1645559.550,0.0,0.0,8002073.55,1456111.0,3728220.0,0.0,NaN
4,Afghanistan,AFG,2012-01-01,1829829.153,24250.0,0.0,9028297.00,0.0,2080691.5,0.0,NaN

In [11]:
hiv_funding_clean = hiv_funding.fillna(0)

In [12]:
combined_funding = hiv_funding_clean['Global_Fund'] + hiv_funding_clean['Domestic_Public'] + hiv_funding_clean['Domestic_Private'] + hiv_funding_clean['International'] + hiv_funding_clean['Other_Bilaterals'] + hiv_funding_clean['Development_Banks'] + hiv_funding_clean['Other_multilaterals'] + hiv_funding_clean['PEPFAR']
hiv_funding_clean['total_funding'] = combined_funding
hiv_funding_clean.head()

,Country,Code,Year,Global_Fund,Domestic_Public,Domestic_Private,International,Other_Bilaterals,Development_Banks,Other_multilaterals,PEPFAR,total_funding
0,Afghanistan,AFG,2008-01-01,0.000,129260.0,0.0,3112158.00,254053.0,2669283.0,0.0,0.0,6.164754e+06
1,Afghanistan,AFG,2009-01-01,1087983.000,132200.0,0.0,5026352.00,282525.0,3220281.0,0.0,0.0,9.749341e+06
2,Afghanistan,AFG,2010-01-01,1774255.000,200000.0,0.0,4237825.00,90499.0,1523129.0,0.0,0.0,7.825708e+06
3,Afghanistan,AFG,2011-01-01,1645559.550,0.0,0.0,8002073.55,1456111.0,3728220.0,0.0,0.0,1.483196e+07
4,Afghanistan,AFG,2012-01-01,1829829.153,24250.0,0.0,9028297.00,0.0,2080691.5,0.0,0.0,1.296307e+07

In [9]:
pov_pop = pov_pop_csv.drop(columns = 'Unnamed: 0')
pov_pop.head()

,Country,Code,Indicator Name,1974,1975,1976,1977,1978,1979,1980,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,East Asia & Pacific,EAS,"Population, total",1.416257e+09,1.443359e+09,1.467569e+09,1.490449e+09,1.513227e+09,1.536435e+09,1.559195e+09,...,2.192059e+09,2.206885e+09,2.221673e+09,2.236819e+09,2.252047e+09,2.267482e+09,2.282856e+09,2.298486e+09,2.314098e+09,2.328138e+09
1,East Asia & Pacific,EAS,Poverty gap at national poverty lines (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,East Asia & Pacific,EAS,Poverty headcount ratio at national poverty li...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Europe & Central Asia,ECS,"Population, total",7.610295e+08,7.666256e+08,7.721293e+08,7.774221e+08,7.826538e+08,7.879109e+08,7.932995e+08,...,8.844694e+08,8.879268e+08,8.901627e+08,8.937886e+08,8.980604e+08,9.024068e+08,9.067074e+08,9.109048e+08,9.145855e+08,9.179226e+08
4,Europe & Central Asia,ECS,Poverty gap at national poverty lines (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
hiv_fund_exp = pd.merge(hiv_funding_clean, hiv_exp,
                        left_on=['Country', 'Code', 'Year'],
                        right_on=['Country', 'Code', 'Year'],
                          how='outer',
                        indicator=True)
hiv_fund_exp.head(10)

,Country,Code,Year,Global_Fund,Domestic_Public,Domestic_Private,International,Other_Bilaterals,Development_Banks,Other_multilaterals,PEPFAR,total_funding,Total_Expenditure,_merge
0,Afghanistan,AFG,2008-01-01,0.000,129260.000,0.0,3112158.00,2.540530e+05,2669283.0,0.0,0.0,6.164754e+06,3241418.000,both
1,Afghanistan,AFG,2009-01-01,1087983.000,132200.000,0.0,5026352.00,2.825250e+05,3220281.0,0.0,0.0,9.749341e+06,5158552.000,both
2,Afghanistan,AFG,2010-01-01,1774255.000,200000.000,0.0,4237825.00,9.049900e+04,1523129.0,0.0,0.0,7.825708e+06,4437825.000,both
3,Afghanistan,AFG,2011-01-01,1645559.550,0.000,0.0,8002073.55,1.456111e+06,3728220.0,0.0,0.0,1.483196e+07,8002073.550,both
4,Afghanistan,AFG,2012-01-01,1829829.153,24250.000,0.0,9028297.00,0.000000e+00,2080691.5,0.0,0.0,1.296307e+07,9052547.000,both
5,Afghanistan,AFG,2013-01-01,2268317.000,245000.000,0.0,5067479.00,2.231162e+06,0.0,0.0,0.0,9.811958e+06,5312479.000,both
6,Afghanistan,AFG,2014-01-01,1986380.000,104000.000,0.0,4077138.00,0.000000e+00,1631972.0,458786.0,0.0,8.258276e+06,4181138.000,both
7,Afghanistan,AFG,2015-01-01,0.000,0.000,0.0,0.00,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.000,both
8,Albania,ALB,2005-01-01,0.000,1110357.000,0.0,1266600.00,0.000000e+00,0.0,0.0,0.0,2.376957e+06,2376957.000,both
9,Algeria,DZA,2006-01-01,2396455.000,1133390.875,0.0,2540458.75,1.596247e+01,0.0,0.0,0.0,6.070321e+06,3673849.625,both

In [24]:
%who

combined_funding	 datetime	 global_orphan_hiv	 global_orphan_hiv_csv	 hiv_exp	 hiv_exp_csv	 hiv_fund_exp	 hiv_funding	 hiv_funding_clean
hiv_funding_csv	 np	 pd	 plt	 pov_pop	 pov_pop_csv

In [26]:
hiv_fund_exp.to_csv('../data/final_data/hiv_fund_exp.csv')
pov_pop.to_csv('../data/final_data/pov_pop.csv')
global_orphan_hiv.to_csv('../data/final_data/global_orphan_hiv.csv')