In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import numpy as np
%matplotlib inline

In [2]:
hiv_exp_csv = pd.read_csv('../data/Using/hiv-expenditure.csv')
hiv_exp_csv.head()

,Entity,Code,Year,Country-reported HIV expenditure by funding source - Total
0,Afghanistan,AFG,2008,3241418.00
1,Afghanistan,AFG,2009,5158552.00
2,Afghanistan,AFG,2010,4437825.00
3,Afghanistan,AFG,2011,8002073.55
4,Afghanistan,AFG,2012,9052547.00

In [3]:
hiv_exp_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 948 entries, 0 to 947
Data columns (total 4 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Entity                                                      948 non-null    object
 1   Code                                                        948 non-null    object
 2   Year                                                        948 non-null    int64
 3   Country-reported HIV expenditure by funding source - Total  948 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 29.8+ KB

In [6]:
hiv_exp_csv.isna().sum()

Entity                                                        0
Code                                                          0
Year                                                          0
Country-reported HIV expenditure by funding source - Total    0
dtype: int64

In [7]:
hiv_exp_csv.rename(columns = {'Entity': 'Country', 'Country-reported HIV expenditure by funding source - Total': 'Total Expenditure'})

         Country Code  Year  Total Expenditure
0    Afghanistan  AFG  2008       3.241418e+06
1    Afghanistan  AFG  2009       5.158552e+06
2    Afghanistan  AFG  2010       4.437825e+06
3    Afghanistan  AFG  2011       8.002074e+06
4    Afghanistan  AFG  2012       9.052547e+06
..           ...  ...   ...                ...
943     Zimbabwe  ZWE  2009       9.033861e+07
944     Zimbabwe  ZWE  2010       2.689085e+08
945     Zimbabwe  ZWE  2011       2.576574e+08
946     Zimbabwe  ZWE  2012       3.088354e+08
947     Zimbabwe  ZWE  2013       2.534796e+08

[948 rows x 4 columns]

In [8]:
hiv_exp_csv.to_csv('../data/cleaned_data/hiv_expenditure.csv')