In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import numpy as np
%matplotlib inline

In [2]:
orphan_hiv_csv = pd.read_csv('../data/Using/number-of-children-orphaned-from-aids.csv')

In [3]:
orphan_hiv_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2943 entries, 0 to 2942
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Entity                        2943 non-null   object
 1   Code                          2781 non-null   object
 2   Year                          2943 non-null   int64
 3   AIDS Orphans - 0-17 estimate  2943 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 92.1+ KB

In [4]:
orphan_hiv_csv.isna().sum()

Entity                            0
Code                            162
Year                              0
AIDS Orphans - 0-17 estimate      0
dtype: int64

In [5]:
orphan_hiv_csv.dtypes

Entity                           object
Code                             object
Year                              int64
AIDS Orphans - 0-17 estimate    float64
dtype: object

In [6]:
orphan_hiv_csv['Code'].value_counts()

BWA    27
NGA    27
GUY    27
COD    27
ARG    27
       ..
ERI    27
TJK    27
PHL    27
KHM    27
IRL    27
Name: Code, Length: 103, dtype: int64

In [7]:
orphan_hiv_rename = orphan_hiv_csv.rename(columns = {'Entity': 'Country', 'AIDS Orphans - 0-17 estimate': 'Number_Orphans'})
orphan_hiv_rename.head()

       Country Code  Year  Number_Orphans
0  Afghanistan  AFG  1990         44.8754
1  Afghanistan  AFG  1991         68.1093
2  Afghanistan  AFG  1992         99.9277
3  Afghanistan  AFG  1993        142.0280
4  Afghanistan  AFG  1994        195.8530

In [8]:
orphan_hiv_rename['Year'] = pd.to_datetime(orphan_hiv_rename['Year'], format = '%Y')
orphan_hiv_rename.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2943 entries, 0 to 2942
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         2943 non-null   object
 1   Code            2781 non-null   object
 2   Year            2943 non-null   datetime64[ns]
 3   Number_Orphans  2943 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 92.1+ KB

In [9]:
global_hiv_orphans = orphan_hiv_rename

In [10]:
global_hiv_orphans.to_csv('../data/cleaned_data/global_hiv_orphans.csv')