In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import numpy as np
%matplotlib inline

In [2]:
hiv_exp_csv = pd.read_csv('../data/Using/hiv-expenditure.csv')
hiv_exp_csv.head()

,Entity,Code,Year,Country-reported HIV expenditure by funding source - Total
0,Afghanistan,AFG,2008,3241418.00
1,Afghanistan,AFG,2009,5158552.00
2,Afghanistan,AFG,2010,4437825.00
3,Afghanistan,AFG,2011,8002073.55
4,Afghanistan,AFG,2012,9052547.00

In [3]:
hiv_exp_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 948 entries, 0 to 947
Data columns (total 4 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Entity                                                      948 non-null    object
 1   Code                                                        948 non-null    object
 2   Year                                                        948 non-null    int64
 3   Country-reported HIV expenditure by funding source - Total  948 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 29.8+ KB

In [4]:
hiv_exp_csv.isna().sum()

Entity                                                        0
Code                                                          0
Year                                                          0
Country-reported HIV expenditure by funding source - Total    0
dtype: int64

In [5]:
hiv_exp = hiv_exp_csv.rename(columns = {'Entity': 'Country', 'Country-reported HIV expenditure by funding source - Total': 'Total_Expenditure'})
hiv_exp.head()

       Country Code  Year  Total_Expenditure
0  Afghanistan  AFG  2008         3241418.00
1  Afghanistan  AFG  2009         5158552.00
2  Afghanistan  AFG  2010         4437825.00
3  Afghanistan  AFG  2011         8002073.55
4  Afghanistan  AFG  2012         9052547.00

In [6]:
hiv_exp['Year'] = pd.to_datetime(hiv_exp['Year'], format = '%Y')
hiv_exp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 948 entries, 0 to 947
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            948 non-null    object
 1   Code               948 non-null    object
 2   Year               948 non-null    datetime64[ns]
 3   Total_Expenditure  948 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 29.8+ KB

In [7]:
hiv_exp.to_csv('../data/cleaned_data/hiv_expenditure.csv')

In [8]:
hiv_exp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 948 entries, 0 to 947
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            948 non-null    object
 1   Code               948 non-null    object
 2   Year               948 non-null    datetime64[ns]
 3   Total_Expenditure  948 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 29.8+ KB