In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import numpy as np
%matplotlib inline

In [2]:
orphan_causes_csv = pd.read_csv('../data/Using/HIV_Orphans_2020.csv')

In [3]:
orphan_causes_csv.head()

,"Number of children aged 0-17 who have lost one or both parents, by cause, 1990-2019",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,ISO3,Type,Country/Region,UNICEF Region,Indicator,Data source,Year,Value,Lower,Upper
1,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1990,"147,800,000","143,500,000","152,900,000"
2,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1991,"147,900,000","143,600,000","153,000,000"
3,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1992,"148,300,000","144,000,000","153,400,000"
4,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1993,"148,900,000","144,600,000","154,100,000"

In [4]:
orphan_causes_subset = orphan_causes_csv.rename(columns = {'Number of children aged 0-17 who have lost one or both parents, by cause, 1990-2019': 'ISO3',\
                                                              'Unnamed: 1': 'Type', 'Unnamed: 2': 'Country/Region', 'Unnamed: 3': 'UNICEF Region', 'Unnamed: 4': 'Indicator',\
                                                              'Unnamed: 5': 'Data Source', 'Unnamed: 6': 'Year', 'Unnamed: 7': 'Value', 'Unnamed: 8': 'Lower', 'Unnamed: 9': 'Upper'})
orphan_causes_subset.head()

,ISO3,Type,Country/Region,UNICEF Region,Indicator,Data Source,Year,Value,Lower,Upper
0,ISO3,Type,Country/Region,UNICEF Region,Indicator,Data source,Year,Value,Lower,Upper
1,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1990,"147,800,000","143,500,000","152,900,000"
2,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1991,"147,900,000","143,600,000","153,000,000"
3,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1992,"148,300,000","144,000,000","153,400,000"
4,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1993,"148,900,000","144,600,000","154,100,000"

In [5]:
orphan_causes_subset.drop(labels=0, axis=0, inplace=True)
orphan_causes_subset.head()

,ISO3,Type,Country/Region,UNICEF Region,Indicator,Data Source,Year,Value,Lower,Upper
1,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1990,"147,800,000","143,500,000","152,900,000"
2,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1991,"147,900,000","143,600,000","153,000,000"
3,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1992,"148,300,000","144,000,000","153,400,000"
4,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1993,"148,900,000","144,600,000","154,100,000"
5,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1994,"149,900,000","145,600,000","155,100,000"

In [6]:
orphan_causes_subset.reset_index(drop=True, inplace=True)
orphan_causes_subset.head()

,ISO3,Type,Country/Region,UNICEF Region,Indicator,Data Source,Year,Value,Lower,Upper
0,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1990,"147,800,000","143,500,000","152,900,000"
1,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1991,"147,900,000","143,600,000","153,000,000"
2,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1992,"148,300,000","144,000,000","153,400,000"
3,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1993,"148,900,000","144,600,000","154,100,000"
4,03M49WLD,Region,Global,NaN,Estimated number of children (aged 0-17) who h...,UNAIDS 2020 estimates,1994,"149,900,000","145,600,000","155,100,000"

In [7]:
orphan_causes_subset.isna().sum()

ISO3                0
Type                0
Country/Region      0
UNICEF Region     538
Indicator           0
Data Source         0
Year                0
Value               0
Lower             241
Upper             240
dtype: int64

In [18]:
orphan_causes_subset.dtypes

ISO3              object
Type              object
Country/Region    object
UNICEF Region     object
Indicator         object
Data Source       object
Year              object
Value             object
Lower             object
Upper             object
dtype: object

In [39]:
orphan_causes_subset['Value'].value_counts()

<100          471
<500          273
<200          165
120,000       109
140,000        91
             ...
1,690,000       1
4,230,000       1
13,200,000      1
21,300,000      1
26,600,000      1
Name: Value, Length: 847, dtype: int64

In [40]:
pd.to_numeric(orphan_causes_subset['Value'].str.replace(',', '').str.replace('<', '-'))

0       147800000
1       147900000
2       148300000
3       148900000
4       149900000
          ...
7613      3150000
7614      3160000
7615      3150000
7616      3110000
7617      3050000
Name: Value, Length: 7618, dtype: int64

In [33]:
orphan_causes_subset = orphan_causes_subset.astype(convert_dict)
print(orphan_causes_subset.dtypes)

ValueError: invalid literal for int() with base 10: '147,800,000'

In [8]:
orphan_causes_subset.shape

(7618, 10)

In [16]:
orphan_causes_subset['Indicator'].unique()

array(['Estimated number of children (aged 0-17) who have lost one or both parents due all causes',
       'Estimated number of children (aged 0-17) who have lost one or both parents due to AIDS'],
      dtype=object)